<!doctype html>
<html ng-app="madLibs" lang="en">
<head>
	<meta charset="UTF-8">
	<title>ngMadLibs App</title>
	<link rel="stylesheet" href="ngMadLibs.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="ngMadLibs.js"></script>
</head>
<body>

	<header>
		<h1><img src="img/ng-mad-libs-logo.png" alt="ngMadLibs App"></h1>
		<h2>Automate this!</h2>
	</header>


	<div ng-controller="madLibsController">
		<section>
			<h3>Provide the following words:</h3>
			<form action="#">
				<ul>
					<li>
						<input type="radio" ng-model="gender" name="gender" id="gender-Female" value="Female"><label for="gender-Female">Woman</label>
						&nbsp;
						<input type="radio" ng-model="gender" name="gender" id="gender-Male" value="Male"><label for="gender-Male">Man</label>
					</li>
					<li><input type="text" size="15" ng-model="protoganist"></li>
					<li><input type="text" size="10" ng-model="jobTitle"></li>
					<li><input type="text" size="15" ng-model="tediousTask"></li>
					<li><input type="text" size="10" ng-model="dirtyTask"></li>
					<li><input type="text" size="15" ng-model="uselessSkill"></li>
					<li><input type="text" size="10" ng-model="obnoxiousCelebrity"></li>
					<li><input type="text" size="10" ng-model="adjective"></li>
					<li><input type="text" size="15" ng-model="hugeNumber"></li>
				</ul>
				<button>Generate my mad lib</button>
			</form>
		</section>

		<article ng-if="false">
			<p>
				{{ protoganist }} was a {{ jobTitle }} who loved technology.
				Although {{ gender === 'Female' ? 'she' : 'he' }} loved parts of {{ gender === 'Female' ? 'her' : 'his' }} job,
				{{ gender === 'Female' ? 'she' : 'he' }} absolutely hated {{ tediousTask }} and {{ dirtyTask }}.
				So, {{ protoganist }} met with {{ gender === 'Female' ? 'her' : 'his' }} life mentor {{ obnoxiousCelebrity }}
				who told {{ gender === 'Female' ? 'her' : 'him' }} to learn how to {{ uselessSkill }} with Thinkful.
				Thinkful didn't offer a course on {{ uselessSkill }} so {{ gender === 'Female' ? 'she' : 'he' }} studied programming instead.
			</p>
		
			<p>
				What a great decision!
				With {{ gender === 'Female' ? 'her' : 'his' }} new skills,
				{{ protoganist }} built a(n) {{ adjective }} robot named {{ obnoxiousCelebrity | uppercase }}
				that not only loved {{ dirtyTask }} but did it {{ hugeNumber }} faster.
			</p>
		</article>
	</div>

	
</body>
</html>